header { 
    height:110px;
    text-align:center;
}
nav {
    line-height:30px;
    height:50px;
    width:100%;
    /*float:left;*/
    padding:5px;
    text-align:center;
}
section {
    border:1px dashed blue;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    padding-left:2em;
    padding-right:2em;
    padding-bottom:2em;
    padding-top:0.75em;
}
table { 
    border:1px solid black;
    padding:10px;
    margin:30px;
    text-align:center;
 }
a{
    color:black;
    text-decoration:none;
}
a:hover{
    color:grey;
}
body{
    font-size: 100%;
    font-family: "Courier New", Courier, monospace;
}
#lokalizacja{
    text-align:center;
    float:right;
    width:60%;
}
adress{
    float:left
}

#mapa{
    width:100%;
}
